:root {
  --white: 0deg, 100%, 100%;
  --black: 0deg, 0%, 0%;

  --gray-800: 0deg, 0%, 27%;
  --gray-500: 0deg, 0%, 63%;
  --gray-200: 0deg, 0%, 85%;
  --gray-100: 0deg, 0%, 94%;
  --gray-050: 0deg, 0%, 98%;

  --blue-900: 230deg, 35%, 7%;
  --blue-300: 231deg, 77%, 90%;

  --background-color: hsl(var(--black));
  --text-color: hsl(var(--white));
}
