@use "../util/" as u;

.background {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 100dvh;

  &__design-system::before {
    --bg-img-s: url("../../assets/crew/background-crew-desktop.jpg");
    --bg-img-m: url("../../assets/crew/background-crew-desktop.jpg");
    --bg-img-l: url("../../assets/crew/background-crew-desktop.jpg");
    transform: rotate(180deg);
  }

  &__homepage::before {
    --bg-img-s: url("../../assets/home/background-home-mobile.jpg");
    --bg-img-m: url("../../assets/home/background-home-tablet.jpg");
    --bg-img-l: url("../../assets/home/background-home-desktop.jpg");
  }

  &__destinations::before {
    --bg-img-s: url("../../assets/destination/background-destination-mobile.jpg");
    --bg-img-m: url("../../assets/destination/background-destination-tablet.jpg");
    --bg-img-l: url("../../assets/destination/background-destination-desktop.jpg");
  }

  &__crew::before {
    --bg-img-s: url("../../assets/crew/background-crew-mobile.jpg");
    --bg-img-m: url("../../assets/crew/background-crew-tablet.jpg");
    --bg-img-l: url("../../assets/crew/background-crew-desktop.jpg");
  }

  &__technology::before {
    --bg-img-s: url("../../assets/technology/background-technology-mobile.jpg");
    --bg-img-m: url("../../assets/technology/background-technology-tablet.jpg");
    --bg-img-l: url("../../assets/technology/background-technology-desktop.jpg");
  }
}

.background::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: var(--bg-img-s);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
  background-color: hsl(var(--blue-900));

  @include u.breakpoint(medium) {
    background-image: var(--bg-img-m);
  }

  @include u.breakpoint(large) {
    background-image: var(--bg-img-l);
  }
}
