@use "../util/" as u;

.background {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  height: 100dvh;

  &__design-system::before {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
    transform: rotate(180deg);
  }

  &__homepage::before {
    background-image: url("../../assets/home/background-home-mobile.jpg");

    @include u.breakpoint(medium) {
      background-image: url("../../assets/home/background-home-tablet.jpg");
    }

    @include u.breakpoint(large) {
      background-image: url("../../assets/home/background-home-desktop.jpg");
    }
  }
}

.background::before {
  content: "";
  position: fixed;
  inset: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
  background-color: hsl(var(--blue-900));
}
