@use "../util/" as u;

.main__crew {
  flex-grow: 1;
  align-content: stretch;
}

.title-framing-section {
  grid-column: 2/-2;
  justify-self: center;

  @include u.breakpoint(medium) {
    justify-self: start;
    align-self: start;
  }
}

.crew-tab {
  @include u.breakpoint(large) {
    align-self: start;
  }
}

.container__crew-details {
  display: grid;
  gap: var(--spacing-0300);
  padding-top: var(--spacing-0300);

  @include u.breakpoint(large) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.container__crew-text {
  display: grid;
  gap: var(--spacing-0300);
  padding-top: var(--spacing-0300);
  padding-bottom: var(--spacing-0400);

  @include u.breakpoint(large) {
    grid-column: 1/8;
  }
}

.components-small-pagination {
  @include u.breakpoint(large) {
    grid-column: 1/8;
  }
}

.crew-details {
  grid-column: 2/-2;
  justify-self: center;
  padding-top: var(--spacing-0300);

  @include u.breakpoint(medium) {
    grid-column: 3/-3;
  }

  @include u.breakpoint(large) {
    grid-column: 2/-2;
    align-self: end;
  }
}

.line__crew {
  width: 100%;
}

.crew-text {
  display: grid;
  gap: var(--spacing-0200);

  @include u.breakpoint(large) {
    grid-column: 1/8;
  }
}

.crew-specs {
  align-self: stretch;
  display: grid;
  gap: var(--spacing-0300);

  @include u.breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.crew-specs-entry {
  display: inherit;
  gap: var(--spacing-0200);
}

.container-image-crew {
  height: 100%;
  width: 100%;

  @include u.breakpoint(large) {
    grid-column: 8/-1;
    grid-row: 1/3;
  }
}

.image-crew {
  width: 100%;
  object-fit: cover;
  object-position: center;

  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.ul__small-pagination {
  justify-self: center;

  @include u.breakpoint(large) {
    justify-self: start;
    align-self: baseline;
  }
}
