@use "../util/" as u;

.main__crew {
  flex: 1;
  align-self: center;
}

.title-framing-section {
  grid-column: 2/-2;
  justify-self: center;

  @include u.breakpoint(medium) {
    justify-self: start;
    align-self: start;
  }
}

.crew-tab {
  @include u.breakpoint(large) {
    align-self: start;
  }
}

.container__crew-text {
  grid-column: 2/-2;

  display: grid;
  row-gap: var(--spacing-0300);
  padding-top: var(--spacing-0300);
  padding-bottom: var(--spacing-0400);

  @include u.breakpoint(large) {
    grid-column: 2/8;
  }
}

.components-small-pagination.crew {
  grid-column: 2/-2;

  @include u.breakpoint(large) {
    grid-column: 2/8;
    align-self: flex-start;
    padding-bottom: var(--spacing-0600);
  }
}

.line__crew {
  width: 100%;
}

.crew-text {
  display: grid;
  gap: var(--spacing-0200);
}

.crew-specs {
  align-self: stretch;
  display: grid;
  gap: var(--spacing-0300);

  @include u.breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.crew-specs-entry {
  display: inherit;
  gap: var(--spacing-0200);
}

.container-image-crew {
  grid-column: 2/-2;

  height: 100%;
  width: 100%;
  display: grid;

  @include u.breakpoint(large) {
    grid-column: 8/-2;
    grid-row: 1/-1;
    place-content: end center;
  }
}

.image-crew {
  grid-column: 2/-2;
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-height: 300px;

  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);

  @include u.breakpoint(large) {
    max-height: 500px;
  }
}

.ul__small-pagination {
  justify-self: center;

  @include u.breakpoint(large) {
    justify-self: start;
    align-self: baseline;
  }
}
