@use "../util/" as u;

.main__destinations {
  flex-grow: 1;
  align-content: stretch;
}

.title-framing-section {
  grid-column: 2/-2;
  justify-self: center;

  @include u.breakpoint(medium) {
    justify-self: start;
    align-self: start;
  }
}
.destinations-tab {
  @include u.breakpoint(large) {
    align-self: start;
  }
}

.container__destination-details {
  display: grid;
  gap: var(--spacing-0400);

  @include u.breakpoint(large) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.destination-details {
  grid-column: 2/-2;
  justify-self: center;

  @include u.breakpoint(medium) {
    grid-column: 3/-3;
  }

  @include u.breakpoint(large) {
    grid-column: 2/-2;
  }
}

.container-image-destination {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: var(--spacing-0300) 0;
  gap: var(--spacing-0200);

  @include u.breakpoint(large) {
    grid-template-columns: 1fr;
    grid-column: 1/7;
    align-self: center;
  }
}

.image-destination {
  grid-column: 2/-2;
}

.flex__destination-details {
  @include u.breakpoint(large) {
    grid-column: 7/-1;
    align-self: center;
  }
}

.line__destinations {
  width: 100%;
}

.destination-text {
  display: grid;
  gap: var(--spacing-0200);
}

.destination-specs {
  display: grid;
  gap: var(--spacing-0300);

  @include u.breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.destination-specs-entry {
  display: inherit;
  gap: var(--spacing-0200);
}
