@use "../util/" as u;

.main__destinations {
  flex-grow: 1;
  align-content: center;
}

.destinations-tab {
  @include u.breakpoint(large) {
    align-self: start;
  }
}

.destination-details {
  grid-column: 2/-2;
  justify-self: center;

  @include u.breakpoint(medium) {
    grid-column: 3/-3;
  }

  @include u.breakpoint(large) {
    grid-column: 2/-2;
    align-self: end;
  }
}

.container-image-destination {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: var(--spacing-0300) 0;
  gap: var(--spacing-0200);
  grid-column: 2/-2;
  place-items: center;

  @include u.breakpoint(medium) {
    grid-template-columns: 1fr;
    grid-column: 4/-4;
  }

  @include u.breakpoint(large) {
    grid-template-columns: 1fr;
    grid-column: 2/7;
  }
}

.image-destination {
  grid-column: 2/-2;
  max-height: 170px;

  @include u.breakpoint(medium) {
    grid-template-columns: 1fr;
    grid-column: 4/-4;
    max-height: 240px;
  }

  @include u.breakpoint(large) {
    max-height: none;
  }
}

.flex__destination-details {
  grid-column: 2/-2;

  @include u.breakpoint(large) {
    grid-column: 7/-2;
    align-self: center;
  }
}

.line__destinations {
  width: 100%;
}

.destination-text {
  display: grid;
  gap: var(--spacing-0200);
}

.destination-specs {
  align-self: stretch;
  display: grid;
  gap: var(--spacing-0300);

  @include u.breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.destination-specs-entry {
  display: inherit;
  gap: var(--spacing-0200);
}
