@use "../util/" as u;

dialog[open] {
  all: unset;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  width: 100%;
  color: inherit;
  outline: none;
  animation: slide-down 1000ms;
}

.button_close {
  grid-column: 5;
  grid-row: 1;
  height: 21px;
  width: 24px;
  justify-self: flex-end;
  background-color: transparent;
  border: none;
  padding: var(--spacing-0400) 0;
}

.dialog__nav {
  grid-column: 3/-2;
  z-index: 99;
  grid-row: 2;
  padding-left: var(--spacing-0400);

  @include u.breakpoint(medium) {
    display: inline-block;
    grid-column: 4/-2;
    justify-self: end;
  }

  @include u.breakpoint(large) {
    grid-column: 7/-1;
    padding-inline: var(--spacing-0500);
  }
}
