@use "../util/" as u;

.flex {
  --padding-top-bottom: #{u.em(0)};
  --padding-inline: #{u.em(40)};

  display: flex;
  flex-direction: column;
  padding: var(--padding-top-bottom) var(--padding-inline);

  &__header {
    --padding-top-bottom: #{u.em(64)};
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    @include u.breakpoint(medium) {
      --padding-inline: #{u.em(165)};
    }
  }

  &__section {
    --padding-top-bottom: #{u.em(0)};
    gap: var(--spacing-0600);
  }

  &__title {
    --padding-inline: #{u.em(0)};

    flex-direction: row;
    gap: var(--spacing-0300);
    align-items: center;
  }

  &__homepage-text {
    gap: var(--spacing-0300);

    @include u.breakpoint(medium) {
      gap: normal;
    }
  }

  &__destination-details,
  &__crew-details {
    align-items: center;
    gap: auto;
  }

  &__crew {
    --padding-inline: #{u.em(0)};
    gap: var(--spacing-0300);
    justify-content: space-between;
    height: 100%;
    padding-bottom: var(--spacing-0400);
  }
}
