@use "../util/" as u;

.grid-columns {
  --space-lr: var(--spacing-0300);
  --pad: 1fr;
  --space-gap: var(--spacing-0100);
  --col-count: 4;

  display: grid;
  align-items: center;

  grid-template-columns:
    var(--pad) repeat(
      var(--col-count),
      calc(
        (
            min(100% - var(--space-lr), 60rem) - (var(--col-count) - 1) *
              var(--space-gap)
          ) / var(--col-count)
      )
    )
    var(--pad);

  gap: var(--space-gap);

  @include u.breakpoint(medium) {
    --space-lr: var(--spacing-0500);
    --pad: 1fr;
    --space-gap: var(--spacing-0200);
    --col-count: 8;
  }

  @include u.breakpoint(large) {
    --space-lr: var(--spacing-2000);
    --pad: 1fr;
    --space-gap: var(--spacing-0400);
    --col-count: 12;
  }

  &__header {
    padding-top: var(--spacing-0300);
    padding-bottom: var(--spacing-0300);

    > * {
      grid-row: 1;
    }
  }

  &__destinations {
    height: 100%;
    // grid-template-rows: min-content auto;
  }

  &__crew {
    height: 100%;
    grid-template-rows: min-content auto;
    padding-top: var(--spacing-0300);
    padding-bottom: var(--spacing-0600);
    row-gap: space-between;
  }

  &__title-framing-section {
    padding-bottom: var(--spacing-0300);
  }
}

.title-framing {
  grid-column: 2/-2;
  justify-self: center;

  @include u.breakpoint(medium) {
    justify-self: start;
    align-self: start;
  }
}
