.grid-columns {
  --space-lr: 165px;
  --space-gap: 0px;
  --col-count: 1;

  display: grid;

  grid-template-columns:
    1fr repeat(
      var(--col-count),
      calc(
        (
            min(100% - var(--space-lr), 60rem) - (var(--col-count) - 1) *
              var(--space-gap)
          ) / var(--col-count)
      )
    )
    1fr;

  gap: var(--space-gap);

  &__colors {
    --col-count: 2;
  }
}
