@use "../util/" as u;

.container__large-button {
  --button-size: #{u.rem(144)};

  height: calc(var(--button-size) + #{u.rem(88)});
  aspect-ratio: 1;

  display: grid;
  place-content: center;

  @include u.breakpoint(medium) {
    --button-size: #{u.rem(272)};

    @include u.fs-typography-static("text-preset-4");
  }
}

.large-button {
  // be: border-effect
  --be-transparency: 0;
  --be-color-transparency: 1;

  height: var(--button-size);
  aspect-ratio: 1;
  background-color: hsl(var(--white));

  color: hsl(var(--blue-900), var(--be-color-transparency));
  text-decoration: none;

  position: relative;
  display: grid;
  place-content: center;

  border-radius: 50%;
}

.large-button::after {
  content: "";
  height: calc(var(--button-size) + #{u.rem(88)});
  aspect-ratio: 1;
  background-color: hsl(var(--white));

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform: scale(var(--be-scale));
  opacity: var(--be-transparency);

  border-radius: 50%;
  z-index: -1;

  transition: transform 100ms ease-in, opacity 500ms ease-in-out;
}

.large-button:hover,
.large-button:focus-visible {
  --be-transparency: 0.5;
  --be-color-transparency: 0.5;
  --be-scale: 1;
}

.large-button:active {
  --be-transparency: 1;
  --be-color-transparency: 0.2;
}
