@use "../util/" as u;

.header__logo {
  grid-column: 2;

  @include u.breakpoint(large) {
    grid-column: 1/8;
    padding-inline: var(--spacing-0500);
    display: flex;
    align-items: center;
  }
}

.header__line {
  display: none;

  @include u.breakpoint(large) {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: hsl(var(--white));
    margin-left: var(--spacing-0500);
  }
}

.header__nav {
  display: none;

  @include u.breakpoint(medium) {
    display: inline-block;
    grid-column: 4/-2;
    justify-self: end;
  }

  @include u.breakpoint(large) {
    grid-column: 7/-1;
    padding-inline: var(--spacing-0500);
  }
}

.header__square {
  @include u.breakpoint(medium) {
    background-color: hsl(var(--white), 0.1);
    height: 100%;
    // width: 100%;
    grid-column: 3/-1;
  }

  @include u.breakpoint(large) {
    grid-column: 6/-1;
  }
}

.header__menu {
  grid-column: 5;
  justify-self: end;

  background-color: transparent;
  border: none;

  @include u.breakpoint(medium) {
    display: none;
  }
}
