@use "../util/" as u;

.nav-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0500);
  margin: 0;

  list-style-type: none;
  padding-inline-start: 0;

  @include u.breakpoint(medium) {
    flex-direction: row;
  }
}

.nav-option {
  --transparency: 0;
  --width-right: 2px;
  --width-bottom: 0;
  cursor: pointer;

  border-style: solid;
  border-color: hsl(var(--white), var(--transparency));
  border-width: 0 var(--width-right) var(--width-bottom) 0;

  @include u.fs-typography-static("text-preset-8");

  @include u.breakpoint(medium) {
    --width-right: 0;
    --width-bottom: 2px;

    padding-top: var(--spacing-0300);
    padding-bottom: calc(#{var(--spacing-0300)} - u.em(3));
  }

  span {
    font-weight: 700;
  }
}

.nav-option:hover,
.nav-option:focus-visible {
  --transparency: 0.5;
}

.nav-option:active,
.nav-option.selected {
  --transparency: 1;
}
