@use "../util/" as u;

.ul__small-pagination {
  display: flex;
  gap: var(--spacing-0300);
  list-style-type: none;
  padding: 0;
}

.li__small-pagination {
  --page-size: 10px;
  --page-transparency: 0.17;

  display: inline-block;
  height: var(--page-size);
  aspect-ratio: 1;
  background-color: hsl(var(--white), var(--page-transparency));
  cursor: pointer;

  border-radius: 50%;

  @include u.breakpoint(large) {
    --page-size: 15px;
  }

  &:hover,
  &:focus-visible {
    --page-transparency: 0.5;
  }
}

.pagination--selected,
.pagination--selected:hover,
.pagination--selected:focus-visible {
  --page-transparency: 1;
}
